---
---

$fa-font-path: '{{ site.baseurl }}/assets/webfonts';

$primary: rgb(0, 47, 95) !default;

@import 'conference';

table {
  background-color:#f1f6fa;
  width: 100%;
  border-collapse: separate;
  border-spacing: 7px;
  border-color: black;
}

table td + td{
width: 65%;
}

table td + td + td{
width: 15%;
}

table td + td + td + td{
width: 10%;
}

h6 {
  text-align: center;
  padding: 20px;
  padding-top: 25px;
}

h3 {
	padding: 15px;
	text-align: center;
}

